<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IToWordsService" />
                <binding name="BasicHttpBinding_ITranslateService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52528/ToWordsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IToWordsService"
                contract="TranslatorService.IToWordsService" name="BasicHttpBinding_IToWordsService" />
            <endpoint address="http://localhost:54166/TranslateService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITranslateService"
                contract="Translate.ITranslateService" name="BasicHttpBinding_ITranslateService" />
        </client>
    </system.serviceModel>
</configuration>